
@using Server.Data.Services
@using Server.Data.Model
@using Server.Data.Model.MinesweeperLogic
@using Server.Data.Model.MinesweeperPresentation
@using BlazorStrap
@using Microsoft.Extensions.Primitives;
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.WebUtilities





@if( registroCorrecto || TableroActual.playerInRoom(username) ) {

    <br><br><br><br><br>
    <Tablero TableroActual="TableroActual" username="@username" roomId="@roomId"></Tablero>
    <br><br>
    <ChatRoom username="username" roomid="roomId"></ChatRoom>
    <br><br>
    <ScoreBoard_Component jugadores="this.TableroActual.Players.OrderBy(x => x.puntuacion).ToList()"></ScoreBoard_Component>
    <br><br><br><br><br><br><br><br><br><br>
    <Cronometro_Component dificultad="TableroActual.casillasAbiertas" rows="TableroActual.Logica.rows" timeToMove="TableroActual.timeToMove" valorCronometro="TableroActual.ValorCronometro"></Cronometro_Component>

}
else {
    <label>This game has already start , try other room!</label>
}



@code {
    [Parameter] public Partida TableroActual { get; set; }
    [Parameter] public String roomId { set; get; }
    [Parameter] public String username { get; set; }


    public bool registroCorrecto = false;

    protected override void OnInitialized() {
        registroCorrecto = TableroActual.AddPlayer(username);
    }



}
