
@using Server.Data.Services
@using Server.Data.Model
@using Server.Data.Model.MinesweeperLogic
@using Server.Data.Model.MinesweeperPresentation
@using BlazorStrap
@using Microsoft.Extensions.Primitives;
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.WebUtilities
@inherits BoardService




@if( registroCorrecto || TableroActual.playerInRoom(username) ) {
    <Tablero ComenzarPartida="()=>ComenzarPartida()" TableroActual="TableroActual" username="@username" roomId="@roomId"></Tablero>
    <ChatRoom username="@username" roomid="roomId"></ChatRoom>
    <ScoreBoard_Component jugadores="this.TableroActual.Players.OrderBy(x => x.puntuacion).ToList()"></ScoreBoard_Component>
   

}
else {
    <label>This game has already start , try other room!</label>
}


