

<div class="align-content-lg-center" style="border:dashed; width:fit-content">
    <h3> Movidas del cronometro Component</h3>
    <input type="text" disabled @bind="@valorCronometro" style="background-color:@getColor()" />


    Tiempo Turno:@{
        double difficulty = (double) (dificultad) / (double) (rows * rows);


        <label>@((((double)dificultad/(double)(rows*rows))*timeToMove  ).ToString("0.0000"))</label>
    }
    Dificultad Relativa: @((  100- ((double)dificultad/(double)(rows*rows))*100  ).ToString("00.00")) %



</div>

@code{
    [Parameter] public int rows { get; set; }
    [Parameter] public double timeToMove { get; set; }
    [Parameter] public int dificultad { get; set; }
    [Parameter] public TimeSpan valorCronometro { get; set; }
    public string getColor() {

        var tiempo = valorCronometro.TotalSeconds;

        if( tiempo > 4 ) return "green";
        if( tiempo > 3 ) return "orange";

        else return "red";
    }
}