<div class="card-header-pills" style="width:fit-content; border-block-color:purple; background-color:Highlight; border-width:10px; border:dashed ">
    <h3>¿How score works Component?</h3>

    <span class="oi oi-loop-square" aria-hidden="true"> +1 Point openning squares: </span>
    <span class="oi oi-flag" aria-hidden="true">+2 Points Flag a square:</span>
    <span class="oi oi-delete" aria-hidden="true">-5 Points for Failing:</span> <br>

    The positive actions will be multiplied by the remaining time!
    Good luck!
</div>