@using Server.Data.Model.MinesweeperLogic

<br />
<div class="alert-info" style="justify-content: center; width: fit-content; scroll-behavior: auto; align-content: center; border:dashed; float:right" >
    <h3>Progress Component</h3> 



    Flags Remaining:<input type="text" style="align-content:center;width:max-content" disabled value="@logicaBuscaminas.FlagsRemaining" />
    <label for="puntuacion">Puntuacion:</label>
    <input type="number"
           style="  background-color:@(acierto ? "green" : "red");
                    border: 1px solid #555;
                    box-sizing: border-box;
                    height: 20px;
                    width: 80px"
           @bind="@(puntuacion)" step="0.01" disabled id="puntuacion" />

    <br />  Progressbar: <input type="range" value="@( logicaBuscaminas.totalBombs - logicaBuscaminas.FlagsRemaining)" disabled style="color:mediumpurple" min="0" step="1" max="@logicaBuscaminas.totalBombs" />



</div>



@code {
    [Parameter]   public float puntuacion { get; set; }
    [Parameter] public bool acierto { get; set; }
    [Parameter] public MinesweeperLogica logicaBuscaminas { get; set; }
}
