@using Server.Data.Services
@using Server.Data.Model
@inherits ScoreBoard

<div class="accordion" style="background-color:blueviolet">
    <h3>Rooms_Component</h3>



    @foreach( Partida p in partidas ) {

        <div style="width:fit-content" class="@(p.PartidaComenzada? "alert-primary" : "alert-secondary")">
            <label> Estado Partida: @(p.PartidaComenzada? "Empezada" : "Esperando") </label>
            <br><label>IdPartida: @p.id </label>
            <div class="card" style="background-color:beige">
                <label> Players in this room: </label>
                @foreach( Jugador j in p.Players ) {
                    <div>@j.username</div>
                }

            </div>
        </div>
        <br />
    }

</div>



