@using Data.Model


<br />
<div class="align-content-md-around" style="float:right">



    
    <table style="border:dashed" title="Scoreboard">
        <h3>ScoreBoard Component</h3>
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>
        @foreach( Jugador p in jugadores ) {

            <tr>
                <td> @p.username</td>
                <td>@p.puntuacion</td>
            </tr>
        
         }


    </table>
</div>
@for( int k = 0; k < jugadores.Count; k++ ){
    <br >
}

@code{
    [Parameter] public List<Jugador> jugadores { get; set; }
    
}