@page "/Room/{roomId}"
@using BlazorStrap
<h3>This is the room manager id: @roomId, still working on it:</h3>

<BSContainer>

    @for( int i = 0; i < @rows; i++ ) {
        <BSRow>
            @for( int k = 0; k < @rows; k++ ) {
                <BSCol IsFluid > <button>@i,@k </button></BSCol>
            }
        </BSRow>
       
    }

   
</BSContainer>

@code {
    //[Parameter] public string id2 { set; get; }
    [Parameter] public string roomId { set; get; }
    public int rows = 5;


}
