@page "/Room/{roomId}"
<h3>This is the room manager id: @roomId, still working on it</h3>


@*Estas en : @id2*@


@code {
    //[Parameter] public string id2 { set; get; }
    [Parameter] public string roomId { set; get; }
}
