@page "/"

<h1>Hello, @(username ?? "Unknown")!</h1>
<p> @(username == null ? "Welcome to the brand new minesweeper." : "Are you ready?" )</p>


<br>


@* introducir nombre del jugador 1º estado*@
@if( State == States.IntroducirNombre ) {
    <h2>PLAYER NAME</h2>
    <input placeholder="Enter Player Name" type="text" @bind-value="username" />
    <button @onclick="() => State = States.JoinRoom">OK</button>
}


@if( State == States.JoinRoom ) {
<ChatRoom username="@username" roomid="roomId"></ChatRoom>

}


@code{
    //state0 params: Introducir nombre
    public enum States { IntroducirNombre, Config, CreateRoom, JoinRoom }
    public States State { get; set; } = States.IntroducirNombre;


    public string username;
    //state1 params: Config room
    public int rows = 10;




}
